*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 16px;
}

.icon{
  margin-right: 16px;
}

.button{
  background-color: blueviolet;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

}

.header .icons{
  align-items: center;
  display: flex;

}

.banner{
  height: 660px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/2.13.jpg);
  background-position: center;
  background-size: cover;
}


.banner .column{
  max-width: 400px;
  padding-top: 140px;
  padding-left: 100px;
}

.banner .title{
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

.banner .button{
  max-width: 220px;
}

.description{
  margin-top: 60px;
}

.description .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.description .column.-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.description .column.-text{
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.description .column .images{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description .image.-secundary{
  height: 100%;
  border-top: 60px solid white;
  border-bottom: 60px solid white;
  display: block; 
  object-fit: cover;
}

.image{
  max-width: 100%;
}

.description .subtitle{
  font-size: 2rem;
  color: blueviolet;
  margin-bottom: 8px;
}

.biography{
  margin-top: 60px;
}

.biography .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 80px;
}

.biography .column{
  display: flex;
  flex-direction: column;
  
}

.biography .name{
  font-size: 3rem;
  color: blueviolet;
  margin-top: 40px;
  margin-bottom: 40px;
}

.biography .text{
  margin-bottom: 60px;
}

.biography .image{
  height: 540px;
  object-fit: cover;
}