*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

li{
  list-style: none;
}

body {
  font-size: 100%;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 16px;
}

.icon{
  margin-right: 16px;
}

.button{
  background-color: blueviolet;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;

}

.header .icons{
  align-items: center;
  display: flex;

}

.banner{
  height: 660px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/2.13.jpg);
  background-position: center;
  background-size: cover;
}


.banner .column{
  max-width: 400px;
  padding-top: 140px;
  padding-left: 100px;
}

.banner .title{
  font-size: 3rem;
  color: white;
  margin-bottom: 40px;
}

.banner .button{
  max-width: 220px;
  background-color: white;
  color: black;
}

.description{
  margin-top: 60px;
}

.description .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.description .column.-images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.description .column.-text{
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.description .column .images{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description .image.-secundary{
  height: 100%;
  border-top: 60px solid white;
  border-bottom: 60px solid white;
  display: block; 
  object-fit: cover;
}

.image{
  max-width: 100%;
}

.description .subtitle{
  font-size: 2rem;
  color: blueviolet;
  margin-bottom: 8px;
}

.biography{
  margin-top: 60px;
}

.biography .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 80px;
}

.biography .column{
  display: flex;
  flex-direction: column;
  
}

.biography .name{
  font-size: 3rem;
  color: blueviolet;
  margin-top: 40px;
  margin-bottom: 40px;
}

.biography .text{
  margin-bottom: 60px;
}

.biography .image{
  height: 540px;
  object-fit: cover;
}

.stage{
  margin-top: 60px;
}

.stage .list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.stage .number{
  font-size: 3rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.stage .title.-primary{
  font-weight: bold;
  color: gray;
  font-size: 1.6rem;
}

.stage .title{
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.singularity{
  margin-top: 80px;
  height: 500px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/2.2.jpg);
  background-position: center;
  background-size: cover;
}

.singularity .title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
  padding-top: 80px;
}

.singularity .list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  color: white;
}

.singularity .item{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px solid white;
}


.singularity .subtitle{
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

.feedbacks{
  margin-top: 80px;
}

.feedbacks .title{
  font-size: 2.5rem;
  font-weight: bold;
}

.feedbacks .list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 60px;
}

.feedbacks .item{
  background-color: rgba(208, 205, 205, 0.617);
  padding: 36px;
}

.feedbacks .text{
  color: rgb(96, 96, 96);
  margin-top: 40px;
}

.benefits{
  margin-top: 80px;
}

.benefits .list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.benefits .item{
  padding: 16px;
}

.benefits .subtitle{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 12px;
}

.benefits .title{
  color: rgb(96, 96, 96);
  font-size: 1.3rem;
  text-align: end;
}

.contact{
  margin-top: 80px;
  height: 400px;
  position: relative;
  background: linear-gradient(rgba(174, 20, 231, 0.800),rgba(175, 20, 231, 0.800)), url(img/1.9.jpg);
  background-position: center;
  background-size: cover;
}

.contact .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 160px;
}

.contact .title{
  font-size: 2rem;
  color: white;
}

/* .contact .colum{
  display: flex;
  align-items: end;
} */

.contact .button{
  max-width: 220px;
  height: 60px;
  background-color: white;
  color: black;
  margin-left: 400px;
}

.footer{
  background-color: #343333;
  padding-top: 60px;
  padding-bottom: 40px;
}

